body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: red;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgb(22, 22, 157);
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgb(22, 22, 157);
}



