<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="details">
        <h1>Datos del alumno</h1>
        <p class="nombre">Nombre: <%= nombre %></p>
        <p class="edad">Edad: <%= edad %></p>
        <p class="nss">NSS: <%= nss %></p>
        <p class="sangre">Tipo de Sangre: <%= tipoSangre %></p> 
    </div>
    
</body>
</html>