table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}
  
table th, table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ccc;
}
  
table th {
  background-color: #7B1FA2; /* morado */
  color: white;
}
  
table tbody tr:hover {
  background-color: #B39DDB; /* morado claro */
}
  
table tfoot td {
  background-color: #D1C4E9; /* morado claro */
  font-weight: bold;
  text-align: right;
}

.add-btn-container{
  display: flex;
  justify-content: center;
}

.add-btn-container a{
  width: 40%;
  border: 2px solid purple;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: purple;
  text-align: center;
}  

h1 {
  color: #03A9F4;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 36px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #7B1FA2; /* morado */
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #03A9F4; /* azul cielo */
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0288D1; /* azul oscuro */
}